<%- include('../layout/header.ejs') %>
    <%- include('../layout/adminNavbar.ejs') %>
        <div style="padding: 0px 20px 20px 20px;" class="my-5 container ">
            <div class="container pt-3 d-flex justify-content-end ">
                <div class="addCategoryButtonSetup">
                    <a class="btn  mr-3 loginButton addCategoryButton" href="addcategories">Add
                        Categories</a>
                </div>
            </div>
            <table class="table table-primary table-striped table-bordered align-middle table-hover ">
                <thead>
                    <tr>
                        <th>SL.NO</th>
                        <th>NAME</th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>
                <% let count=1; %>
                    <% result.forEach((object)=> { %>
                        <tr>
                            <td>
                                <%= count %>
                            </td>
                            <td>
                                <%= object.category_name %>
                            </td>
                            <% count++; %>
                                <td>

                                    <a href="/admin/editCategory?id=<%= object._id %>""><button type=" submit"
                                        class="btn btn-success">
                                        EDIT
                                        </button></a>

                                </td>




                        </tr>
                        <% }) %>

            </table>
        </div>


        <%- include('../layout/footer.ejs') %>