<%- include('../layout/header.ejs') %>
    <%- include('../layout/adminNavbar.ejs') %>

        <div class="row mt-2 p-3">
            <% if (flashes.message) { %>
                <div class="container alert alert-success alert-dismissible fade show" role="alert">
                    <%= flashes.message %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% } %>
                    <div class="orders-table">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Order ID</th>
                                    <th scope="col">User</th>
                                    <th scope="col">Payment Status</th>
                                    <th scope="col">Total Amount</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orders.forEach((item)=>{ %>
                                    <tr>
                                        <a>
                                            <th scope="row" class="pt-3">
                                                <%= item.order_id %>
                                            </th>

                                            <td class="pt-3">
                                                <%= item.address.user_id.name %>
                                            </td>
                                            <td class="pt-3">
                                                <div class=" del-status <%= item.status  %> ">
                                                    <%= item.status %>
                                                </div>
                                            </td>

                                            <td class="pt-3" style="color: green;">
                                                ₹ <%=item.total_amount %>
                                            </td>
                                            <td>
                                                <a class="btn btn-success"
                                                    href="/admin/orderSummary/<%=item._id%>">View</a>
                                                <a class="btn btn-info" href="/admin/editOrder/<%=item._id%>">Edit</a>

                                            </td>
                                    </tr>
                                    <%}) %>


                            </tbody>
                        </table>
                    </div>
        </div>
        <%- include('../layout/footer.ejs') %>