<%- include('../layout/header.ejs') %>
    <%- include('../layout/adminNavbar.ejs') %>

        <div class="product-main">
            <div class="container">
                <h3 class="mt-5">
                    ORDER ID:<%=order.order_id %>
                </h3>
                <div class="row">
                    <% order.product.forEach((productItem)=> { %>
                        <div class="col-12 col-md-6">
                            <div class="car-container">
                                <div id="carouselExampleIndicators" class="carousel slide w-100">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="../../uploads/<%=productItem.product_id.product_image1 %>"
                                                class="d-block w-100" alt="..." />

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-md-6">
                            <div class="product-container">
                                <div class="product-head mt-5">

                                    <h3>
                                        <%=productItem.product_id.product_name %>
                                    </h3>


                                </div>
                                <div class="product-price mt-3">
                                    <h3 class="me-2" style="color: green;">₹ <%=productItem.product_id.price %>
                                    </h3>
                                    <!-- <strike>₹ <%=order.product.MRP %> </strike> -->
                                </div>
                                <!-- <h5 class="mt-4">Amount Payable </h5>
                        <div class="quantity-box mt-3">
                            <b>₹ <%= order.amountPayable %> </b>

                        </div> -->
                                <h5 class="mt-4">Address</h5>
                                <div class="mt-3 d-flex flex-column">
                                    <span>
                                        <%=order.address.building_name %>
                                    </span>
                                    <span>
                                        <%=order.address.phone_number %>
                                    </span>
                                    <span>
                                        <%=order.address.city %>
                                    </span>
                                    <span>PIN: <%=order.address.pin_code %> </span>
                                </div>
                                <h5 class="mt-4">Order Status</h5>
                                <div class="status-box mt-3">
                                    <div class="order-status justify-content-start">
                                        <div class="<%= order.status  %> ">
                                            <%= order.status %>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="mt-4">Quantity</h5>
                                <div class="quantity-box mt-3">
                                    <input type="number" value="<%-productItem.quantity%>" id="quantity" disabled />
                                </div>
                                <h5 class="mt-4">Payment Type</h5>
                                <div class="quantity-box mt-3">
                                    <span>
                                        <%= order.payment_method %>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <hr class="mt-3">
                        <% }) %>
                </div>
            </div>
        </div>