<%- include('../layout/header.ejs') %>
    <%- include('../layout/adminNavbar.ejs') %>

        <div style="padding: 20px 20px 20px 20px;" class="my-5 container">
            <div class="container pt-3 d-flex justify-content-end ">
                <div class="addCategoryButtonSetup">
                    <a class="btn loginButton mr-3  addCategoryButton" href="addProducts">Add
                        Products</a>
                </div>
            </div>
            <% if (flashes.success) { %>
                <div class="container alert alert-success alert-dismissible fade show" role="alert">
                    <%= flashes.success %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% } %>
                    <div class="table-responsive">
                        <table class="table table-primary table-striped table-bordered align-middle table-hover">
                            <thead>
                                <tr>
                                    <th>SL.NO</th>
                                    <th class="text-center">IMAGES</th>
                                    <th> PRODUCT NAME</th>
                                    <th>PRICE</th>
                                    <th>CATEGORY</th>
                                    <th>STOCK</th>
                                    <th class="text-center">ACTIONS</th>
                                </tr>
                            </thead>
                            <% let count=1; %>
                                <% result.forEach((object)=> { %>
                                    <tr>
                                        <td>
                                            <%= count %>
                                        </td>
                                        <td>
                                            <img src=".././uploads/<%= object.product_image1 %>"
                                                class="img-fluid productImageTable" alt="">
                                            <img src=".././uploads/<%= object.product_image2 %>"
                                                class="img-fluid productImageTable" alt="">
                                            <img src=".././uploads/<%= object.product_image3 %>"
                                                class="img-fluid productImageTable" alt="">
                                            <img src=".././uploads/<%= object.product_image4 %>"
                                                class="img-fluid productImageTable" alt="">
                                        </td>
                                        <td>
                                            <%= object.product_name %>
                                        </td>
                                        <td>
                                            <%= object.price %>
                                        </td>
                                        <td>
                                            <%= object.category_name %>
                                        </td>
                                        <td>
                                            <%= object.stock %>
                                        </td>
                                        <td>

                                            <div class="container">
                                                <div class="row justify-content-center">
                                                    <!-- edit button -->
                                                    <div class="col-auto">
                                                        <a href="/admin/editProducts?id=<%= object._id %>">
                                                            <button type="submit"
                                                                style="width:6rem; margin-bottom: 10px;"
                                                                class="btn btn-primary">EDIT</button>
                                                        </a>
                                                    </div>
                                                    <!-- block button -->
                                                    <div class="col-auto">
                                                        <form action="/admin/products?id=<%= object._id %>"
                                                            method="POST">
                                                            <input type="hidden" name="status"
                                                                value="<%= object.status ? 'false' : 'true' %>">
                                                            <button type="submit" style="width:6rem"
                                                                class="<% if(object.status) { %> btn btn-success <% } else { %> btn btn-danger <% } %>">
                                                                <% if(object.status) { %>
                                                                    BLOCK
                                                                    <% } else { %>
                                                                        UNBLOCK
                                                                        <% } %>
                                                            </button>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>



                                        <% count++; %>
                                    </tr>
                                    <% }) %>

                        </table>
                    </div>
        </div>

        <%- include('../layout/footer.ejs') %>