<%- include('./layout/header.ejs') %>
    <!-- navbar starts here -->
    <div class="d-flex customerCare justify-content-between p-3 ps-5 container-fluid ">
        <div class="">24/7 customer service 1-800-235-5678
        </div>
        <form class="d-flex nav-link text-light " role="search" action="/search">
            <input class="form-control me-2" type="search" placeholder="search products" aria-label="Search" name="key"
                value="<%= key %>">
            <button class="btn loginButton">Search</button>
        </form>
    </div>
    <nav class="navbar navbar-expand-lg " style=" background-color: #27323F;height: 30px;">
        <div class="container-fluid  navbarColor">
            <a class="navbar-brand text-light img-fluid " href="/"><img src="/img/logo.png" class="logoControl"
                    alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-theme="dark"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light " href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Categories
                        </a>

                        <ul class="dropdown-menu navbarColor ">
                            <% categories.forEach((object)=> { %>
                                <li><a class="dropdown-item text-light miniNav"
                                        href="/categories?category=<%=object._id %>">

                                        <%= object.category_name %>
                                            <% }) %>
                                    </a></li>
                        </ul>

                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link text-light ps-3" href="#">New Arrivals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light ps-3" href="#">Todays deal</a>
                    </li> -->
                </ul>
                <div class="d-flex" style="margin-right: 0;padding-right: 10px;">
                    <a href="/cart"><i class="fa fa-cart-shopping text-decoration-none navIcon pb-1"></i></a>
                    <a href="/wishList"><i class="fa-regular fa-heart text-decoration-none navIcon pb-1"></i></a>
                    <a href="/coupons"><i class="fa fa-ticket text-decoration-none navIcon pb-1"></i></a>
                    <% if(locals.user) { %>


                        <a href="/userProfile"><img src="<%= user.gravatar %>" alt=""
                                style="width: 30px;border-radius: 50%;" class="ms-3"></a>
                        <a class="text-light ps-3 pb-1 ms-3" href="/logout"><i class="fa fa-sign-out  fa-lg pb-1"
                                aria-hidden="true"></i></a>



                        <% } else {%>
                            <a class="nav-link text-light ps-3 me-2 pb-1" href="/login"> Login </a>
                            <% } %>
                </div>
            </div>
        </div>
    </nav>
    </div>
    <!-- Navbar ends here -->

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <form class="filter-sec" method="get">
                    <div class="row bg-white d-md-none d-flex p-2">
                        <div class="col d-flex flex-row-reverse align-items-center" onclick="hideFilter()">
                            <i class="ri-close-fill" style="margin-top: 10px; font-size: 1.8rem;"></i>
                        </div>
                    </div>
                    <input type="text" value="<%=key%>" name="key" style="height: 0px; visibility: hidden;">
                    <div class="row">
                        <h6>Category</h6>
                    </div>
                    <div class="filter-options mt-3">
                        <div class="ft-option">
                            <input type="radio" value="" name="category" id="d" <% if(category=="" ){ %> checked <% } %>
                                onchange="handleChange('category', '')"/>
                                <label for="d">All</label>
                        </div>
                        <% categories.forEach(item=>{ %>
                            <div class="ft-option">
                                <input type="radio" value="<%= item._id%>" name="category" id="<%= item._id%>" <%
                                    if(category==item._id){ %>
                                checked <% } %> onchange="handleChange('category', '<%= item._id%>')" />
                                        <label for="<%=item._id%>">
                                            <%=item.category_name%>
                                        </label>
                            </div>
                            <% }) %>
                    </div>
                    <div class="row mt-5">
                        <h6>Sort By </h6>
                    </div>
                    <div class="filter-options mt-3">
                        <div class="ft-option">
                            <input type="radio" value="1" name="filter" id="lowToHigh" <% if(filter==1){ %> checked
                            <% } %>
                                onchange="handleChange('filter', 1)" />
                                <label for="lowToHigh">Price - Low to High</label>
                        </div>
                        <div class="ft-option">
                            <input type="radio" value="-1" name="filter" id="highToLow" <% if(filter==-1){ %>
                            checked <% } %>
                                onchange="handleChange('filter', -1)" />
                                <label for="highToLow">Price - High to Low</label>
                        </div>
                        <div class="ft-option">
                            <input type="radio" value="0" name="filter" id="newLaunches" <% if(filter==0){ %> checked <%
                                } %>
                                onchange="handleChange('filter', 0)"
                                />
                                <label for="newLaunches">New Launches</label>
                        </div>

                    </div>
                </form>
            </div>
            <div class="col-12 col-md-9 pt-5">
                <h2 class="mb-3"> Products </h2>
                <div class="row d-flex flex-wrap" id="productList">
                    <% products.forEach((object)=> { %>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="card">
                                <a href="productDetails/<%=object._id %>" class="text-decoration-none"
                                    style="color: black;">
                                    <img src=".././uploads/<%= object.product_image1 %>" class="card-img-top"
                                        style="aspect-ratio: 1 / 1" />
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <%= object.product_name %>
                                        </h4>
                                        <p class="card-text">
                                            <%= object.description %>
                                        </p>
                                        <div class="buy d-flex justify-content-between align-items-center">
                                            <div class="price text-success">
                                                <h5 class="mt-4">₹<%= object.price %>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <% }) %>
                </div>
                <nav aria-label="Page navigation example text-dark pl-pagination" id="pagination">
                    <% if(pageCount>2) {%>
                        <ul class="pagination d-flex justify-content-center text-dark categoryPagination">
                            <li class="page-item <% if(page == 0) { %> disabled <% } %>">
                                <span class="page-link text-dark  " aria-label="Previous">
                                    <span aria-hidden="true" onclick="gotoPage('<%=parseInt(page)-1%>')">&laquo;</span>
                                </span>
                            </li>
                            <% for(let i=0; i<pageCount; i++) {%>
                                <li class="page-item"><span onclick="gotoPage('<%=i%>')" class="page-link text-dark" <%
                                        if(page==i){ %> style="font-weight:1000;" <% } %>
                                            ><%= i+1 %> </span></li>
                                <% } %>
                                    <li class="page-item <% if(parseInt(page)+1 == pageCount) { %> disabled <% } %>">
                                        <span class="page-link text-dark" aria-label="Next">
                                            <span aria-hidden="true"
                                                onclick="gotoPage('<%=parseInt(page)+1%>')">&raquo;</span>
                                        </span>
                                    </li>
                        </ul>
                </nav>
                <% } %>
            </div>
        </div>
    </div>

    <%- include('./layout/userFooterbar.ejs') %>
        <script>
            let key = '<%=key%>'
            let mainUrl = new URL(window.location.href);
            let mainSearchParams = mainUrl.searchParams
            let newMainUrl = ''
            let trial = new URLSearchParams(window.location.search);
            let cat = trial.get('category')
            let url = new URL(`http://localhost:3000/getProducts?category=${cat}`);
            let searchParams = url.searchParams;

            function gotoPage(page) {
                mainSearchParams.set('page', page);
                mainSearchParams.set('key', key);
                mainUrl.search = mainSearchParams.toString();
                newMainUrl = mainUrl.toString();
                window.location.href = newMainUrl
            }

            function handleChange(setName, value) {
                searchParams.set(setName, value);
                searchParams.set('key', key);
                mainSearchParams.set(setName, value);
                url.search = searchParams.toString();
                mainUrl.search = mainSearchParams.toString();
                var newURL = url.toString();
                newMainURL = url.toString();
                console.log(newURL)
                fetch(newURL, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        "Content-Type": "application/json",
                    }
                }).then((response) => response.json()).then((data) => {
                    console.log(data)
                    let productList = document.getElementById('productList');
                    productList.innerHTML = "";
                    data.products.forEach((item, index) => {
                        let div = document.createElement('div');
                        div.setAttribute('class', "col-12 col-sm-6 col-md-4");
                        div.innerHTML = `
                                            <div class="card">
                                                <a href="productDetails/${item._id}" class="text-decoration-none"
                                        style="color: black;">
                                                <img src=".././uploads/${item.product_image1} %>" class="card-img-top"
                                                    style="aspect-ratio: 1 / 1" />
                                                <div class="card-body">
                                                    <h4 class="card-title">
                                                        ${item.product_name}
                                                    </h4>
                                                    <p class="card-text">
                                                        ${item.description}
                                                    </p>
                                                    <div class="buy d-flex justify-content-between align-items-center">
                                                        <div class="price text-success">
                                                            <h5 class="mt-4">₹${item.price}
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                  `;

                        productList.appendChild(div);
                    });
                    if (data?.pageCount <= 1) {
                        let pagination = document.getElementById('pagination')
                        pagination.innerHTML = ""
                    } else {
                        let pagination = document.getElementById('pagination')
                        pagination.innerHTML = `
      <nav aria-label="Page navigation example text-dark pl-pagination">
            <ul class="pagination d-flex justify-content-center mt-3 categoryPagination" id="paginationUl">
            </ul>
          </nav>
      `
                        let paginationUl = document.getElementById('paginationUl');
                        let li1 = document.createElement('li');
                        li1.setAttribute('class', 'page-item if(data.page == 0) { disabled }')
                        li1.innerHTML = `
          <span class="page-link text-dark" aria-label="Previous">
            <span aria-hidden="true" onclick="gotoPage('${data.page - 1}')">&laquo;</span>
          </span>
      `
                        paginationUl.appendChild(li1)
                        for (let i = 0; i < data.pageCount; i++) {
                            let li2 = document.createElement('li');
                            li2.setAttribute('class', 'page-item')
                            li2.innerHTML = `
        <span onclick="gotoPage('${i}')" class="page-link text-dark" > ${i + 1} </span>
        
        `
                            paginationUl.appendChild(li2)
                        }
                        let li3 = document.createElement('li');
                        li3.setAttribute('class', 'page-item')
                        li3.innerHTML = `
      <span class="page-link text-dark" aria-label="Next">
                  <span aria-hidden="true" onclick="gotoPage('${data.page + 1}')">&raquo;</span>
                </span>
      `
                        paginationUl.appendChild(li3)
                    }
                })
            } 
        </script>

        <%- include('./layout/footer.ejs') %>