<%- include('./layout/header.ejs') %>
    <%- include('./layout/userNavbar.ejs') %>

        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <form class="filter-sec" method="get">
                        <div class="row bg-white d-md-none d-flex p-2">
                            <div class="col d-flex flex-row-reverse align-items-center" onclick="hideFilter()">
                                <i class="ri-close-fill" style="margin-top: 10px; font-size: 1.8rem;"></i>
                            </div>
                        </div>
                        <input type="text" value="" name="key" style="height: 0px; visibility: hidden;">
                        <div class="row">
                            <h6>Category</h6>
                        </div>
                        <div class="filter-options mt-3">
                            <div class="ft-option">
                                <input type="radio" value="" name="category" id="d" <% if(category=="" ){ %> checked <%
                                    } %>
                                    onchange="handleChange('category', '')"/>
                                    <label for="d">All</label>
                            </div>
                            <% categories.forEach(item=>{ %>
                                <div class="ft-option">
                                    <input type="radio" value="" name="category" id="" <% if(category==item._id){ %>
                                    checked <% } %> onchange="handleChange('category', '<%= item._id%>')" />
                                            <label for="<%=item._id%>">
                                                <%=item.category_name%>
                                            </label>
                                </div>
                                <% }) %>
                        </div>
                        <div class="row mt-5">
                            <h6>Sort By </h6>
                        </div>
                        <div class="filter-options mt-3">
                            <div class="ft-option">
                                <input type="radio" value="1" name="filter" id="lowToHigh"
                                    onchange="handleChange('filter', 1)" />
                                <label for="lowToHigh">Price - Low to High</label>
                            </div>
                            <div class="ft-option">
                                <input type="radio" value="-1" name="filter" id="highToLow"
                                    onchange="handleChange('filter', -1)" />
                                <label for="highToLow">Price - High to Low</label>
                            </div>
                            <!-- <div class="ft-option">
                                <input type="radio" value="0" name="filter" id="newLaunches"
                                    onchange="handleChange('filter', 0)" />
                                <label for="newLaunches">New Launches</label>
                            </div> -->
                        </div>
                    </form>
                </div>
                <div class="col-12 col-md-9 pt-5">
                    <h2 class="mb-3"> Products </h2>
                    <div class="row d-flex flex-wrap" id="productList">
                        <% products.forEach((object)=> { %>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="card">
                                    <a href="productDetails/<%=object._id %>" class="text-decoration-none"
                                        style="color: black;">
                                        <img src=".././uploads/<%= object.product_image1 %>" class="card-img-top"
                                            style="aspect-ratio: 1 / 1" />
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <%= object.product_name %>
                                            </h4>
                                            <p class="card-text">
                                                <%= object.description %>
                                            </p>
                                            <div class="buy d-flex justify-content-between align-items-center">
                                                <div class="price text-success">
                                                    <h5 class="mt-4">$<%= object.price %>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
            </div>
        </div>

        <%- include('./layout/userFooterbar.ejs') %>
            <script>
                let url = new URL("http://localhost:3000/getProducts");
                let searchParams = url.searchParams;

                function handleChange(setName, value) {
                    searchParams.set(setName, value);
                    url.search = searchParams.toString();
                    var newURL = url.toString();
                    fetch(newURL, {
                        method: 'GET',
                        headers: {
                            'Accept': 'application/json',
                            "Content-Type": "application/json",
                        }
                    }).then((response) => response.json()).then((data) => {
                        console.log(data)
                        let productList = document.getElementById('productList');
                        productList.innerHTML = "";
                        data.products.forEach((item, index) => {
                            let div = document.createElement('div');
                            div.setAttribute('class', "col-12 col-sm-6 col-md-4");
                            div.innerHTML = `
                                            <div class="card">
                                                <a href="productDetails/${item._id}" class="text-decoration-none"
                                        style="color: black;">
                                                <img src=".././uploads/${item.product_image1} %>" class="card-img-top"
                                                    style="aspect-ratio: 1 / 1" />
                                                <div class="card-body">
                                                    <h4 class="card-title">
                                                        ${item.product_name}
                                                    </h4>
                                                    <p class="card-text">
                                                        ${item.description}
                                                    </p>
                                                    <div class="buy d-flex justify-content-between align-items-center">
                                                        <div class="price text-success">
                                                            <h5 class="mt-4">₹${item.price}
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                  `;

                            productList.appendChild(div);
                        });
                    })
                } 
            </script>

            <%- include('./layout/footer.ejs') %>