<%- include('./layout/header.ejs') %>
    <%- include('./layout/userNavbar.ejs') %>

        <div class="container d-flex justify-content-center align-items-center vh-100">
            <form action="/updatePassword?id=<%= user.id %>" method="POST" class=" formSize">
                <h1 class="text-center pb-3 fw-bold ">CHANGE PASSWORD</h1>
                <% if (flashes.error) { %>
                    <div class="container alert alert-danger alert-dismissible fade show" role="alert">
                        <%= flashes.error %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password"
                                class="<% if(validationHelper(flashes,'password')) { %>form-control is-invalid <% } else { %>form-control<% } %>"
                                name="password" placeholder="Enter current password" aria-describedby="InputPassword1">
                            <div id="InputPassword1" class="invalid-feedback">
                                <%= validationHelper(flashes,"password") %>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">New password</label>
                            <input type="password" class="<% if(validationHelper(flashes,'newPassword')) { %>
                                form-control is-invalid <% } else { %> form-control <% } %>" name="newPassword"
                                aria-describedby="InputPassword2">
                            <div id="InputPassword2" class="invalid-feedback">
                                <%= validationHelper(flashes,"newPassword") %>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Confirm new password</label>
                            <input type="password" class="<% if(validationHelper(flashes,'passwordConfirm')) { %>
                                form-control is-invalid <% } else { %> form-control <% } %>" name="passwordConfirm"
                                aria-describedby="InputPassword3">
                            <div id="InputPassword3" class="invalid-feedback">
                                <%= validationHelper(flashes,"passwordConfirm") %>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn loginButton">Update</button>
                        </div>
            </form>
        </div>


        <%- include('./layout/userFooterbar.ejs') %>
            <%- include('./layout/footer.ejs') %>