<%- include('./layout/header.ejs') %>
    <%- include('./layout/userNavbar.ejs') %>
        <div class="container justify-content-center align-items-center">
            <h1 class="errorStatus">
                <% if (status) { %>
                    <p>
                        <%= status %>
                    </p>
                    <% } %>

                        <% if (message) { %>
                            <p>
                                <%= message %>
                            </p>
                            <% } %>
            </h1>

            <% if (stackHighlighted) { %>
                <pre><%= stackHighlighted %></pre>
                <% } %>
        </div>

        <%- include('./layout/userFooterbar.ejs') %>
            <%- include('./layout/footer.ejs') %>