<%- include('./layout/header.ejs') %>
    <!-- navbar starts here -->
    <div class="d-flex customerCare justify-content-between p-3 ps-5 container-fluid ">
        <div class="">24/7 customer service 1-800-235-5678
        </div>
        <form class="d-flex nav-link text-light " role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn loginButton" type="submit">Search</button>
        </form>
    </div>
    <nav class="navbar navbar-expand-lg " style=" background-color: #27323F;height: 30px;">
        <div class="container-fluid  navbarColor">
            <a class="navbar-brand text-light img-fluid " href=""><img src="/img/logo.png" class="logoControl"
                    alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-theme="dark"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
        </div>
    </nav>
    </div>
    <!-- Navbar ends here -->
    <div class="p-5"></div>
    <div class="container justify-content-center align-items-center">
        <h1 class="errorStatus ">
            <% if (status) { %>
                <p>
                    <%= status %>
                </p>
                <% } %>

                    <% if (message) { %>
                        <p>
                            <%= message %>
                        </p>
                        <% } %>
        </h1>

        <!-- <% if (stackHighlighted) { %>
                <pre><%= stackHighlighted %></pre>
                <% } %> -->
    </div>
    <div class="mt-5 p-5"></div>
    <%- include('./layout/userFooterbar.ejs') %>

        <%- include('./layout/footer.ejs') %>